# Dependencies
node_modules/

# Environment Variables (Secrets)
.env
.env.*
!.env.example

# Build Artifacts
dist/
build/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Executables & Tunneling Utilities
*.exe
*.exe.*
.ngrok*
cloudflared*
*.tmp
